<form action="/login" method="post">

  <p>{{ message }}</p>
  <label for="userName">User Name:</label>
  <input type="text" name="username">

  <label for="password">Password:</label>
  <input type="password" name="password">

  <button type='submit'> Submit</button>
</form>