<div>
  <form action="/parent" method="post">
    <label for="username">User Name:</label>
    <input type="text" name="username" value="{{parent.username}}">

    <label for="firstName">First Name:</label>
    <input type="text" name="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName">

    <label for="email">Email:</label>
    <input type="text" name="email" value="{{parent.email}}">

    <label for="age">Age:</label>
    <input type="text" name="age">

    <label for="gender">Gender:</label>
    <input type="text" name="gender">

    <label for="">Languages</label>
    <input type="text" name="language">

    <label for="">Nationality </label>
    <input type="text" name="nationality">
    <!-- Location definition start -->
    <label for="address">Address</label>
    <input type="string" step="any" name="address">
    <label for="postcode">Postcode</label>
    <input type="string" step="any" name="postcode">
    <label for="city">City</label>
    <input type="text" step="any" name="city">
    <label for="country">Country</label>
    <input type="text" step="any" name="country">
    <!-- Location definition end -->
    <label for="">Ocupation:</label>
    <input type="text" name="ocupation">

    <label for="">Picture </label>
    <input type="text" name="pictureUrl">

    <label for="">Child Name</label>
    <input type="text" name="childName">

    <label for="">Activity type</label>
    <input type="text" name="activity">

    <label for="userName">User Name:</label>
    <input type="text" name="userName">

    <button type='submit'> Submit</button>
  </form>
</div>