<form action="/signup" method="post">
  <label for="username">User Name:</label>
  <input type="text" name="username">
  <p>{{message}} </p>
  
  <label for="password">Password:</label>
  <input type="password" name="password">

  <label for="email">Email</label>
  <input type="text" name="email">

  <button type="submit">signup</button>
  
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">About us</a>

</form>